@model Slider
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <a class="btn btn-primary" asp-controller="slider" asp-action="Create">Create</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Logo</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><img src="~/images/@Model.Image"/></td>
                        <td><img src="~/images/@Model.Logo"/></td>
                    </tr>

                
            </tbody>
        </table>
    </div>
</div>